.flash {
   animation-name: flash;
    animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}
@keyframes flash {
    from {color: #fbfbfb;}
    to {color: black;}
}
.row4{ 
display: none;
}
.tableborder{
display: none;
}
.background{
  width: 950px;
  height:auto;
  top:0%;
  left:0%;
  position:relative;
}
	    
.background img{
   width: 950px;
}
        #frame001 {
	    margin: auto;
            border-radius: 5px;
            background-color: #fbfbfb;
	    background-position: center top;
            border: none;
            height: 1500px;
            width: 950px;
	    position: relative;
	    zoom: 1.4;
        }
	    body {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #222;
	margin:0px;
	padding:0px;
	background-color:#E1E1E1;
}
        .buzzer {
            background-color: #A20714;
            color: white;
	    font-weight: bold;
            font-size: 300%;
            width: 500px;
            height: 400px;
        }
	   #JTE{
	   position: relative;
	    top : -170px;
            background-color: #232223;
            color: white;
            width: 120px;
            height: 30px;
            border-radius: 5px;
	    display: inline-block;
        }
        .buttons001 {
            background-color: #A135B2;
            color: white;
            width: 120px;
            height: 30px;
            border-radius: 5px;
        }
        .buttons003 {
            background-color: #232223;
            color: white;
	    font-weight: bold;
            width: 500px;
            height: 40px;
        }
        .buttons004 {
            background-color: limegreen;
            color: white;
            width: 120px;
            height: 40px;
            border-radius: 5px;
 	   visibility: hidden;
        }
        .buttons009 {
            background-color: #A135B2;
            color: white;
            width: 120px;
            height: 30px;
            border-radius: 5px;
        }
        .buttons005 {
            background-color: #A20714;
            color: white;
            width: 120px;
            height: 40px;
            border-radius: 5px;
 	   visibility: hidden;
        }
        .buttons007 {
            background-color: #232223;
            color: white;
            width: 120px;
            height: 30px;
            border-radius: 5px;
        }
        .buttons008 {
            background-color: #A135B2;
            color: white;
            width: 120px;
            height: 30px;
            border-radius: 5px;
        }
        .buttons006 {
            background-color: #A135B2;
            color: white;
            width: 120px;
            height: 30px;
            border-radius: 5px;
        }
        .buttons002 {
            background-color: #232223;
            color: white;
            width: 70px;
            height: 30px;
            border-radius: 5px;
        }
        #font001 {
            text-align: center;
            font-size: large;
            color: black;
        }
     #player001 {
    background: none repeat scroll 0;
    position: absolute;
    top: 44.5%;
    left: 11.6%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: auto;
    width: 200px;
    height: 45px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #player002 {
    background: none repeat scroll 0;
    position: absolute;
    top: 44.5%;
    left: 66.6%;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 200px;
    margin: auto;
    height: 45px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;		
        }  
        #record001 {
    background: none repeat scroll 0;
    position: absolute;
    top: 46%;
    left: 0;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 108px;
    height: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #record002 {
    background: none repeat scroll 0;
    position: absolute;
    top: 46%;
    left: 88%;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 108px;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }	
        #score001 {
    background: none repeat scroll 0;
    position: absolute;
    top: 43%;
    left: 32.8%;
    font-size: 34px;
    font-weight: bold;
    color: white;
    margin: auto;
    text-align: center;
    width: 95px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #score002 {
    background: none repeat scroll 0;
    position: absolute;
    top: 43%;
    left: 56.5%;
    font-size: 34px;
    font-weight: bold;
    color: white;
    margin: auto;
    text-align: center;
    width: 95px;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #twitter001 {
    background: none repeat scroll 0;
    position: absolute;
    top: 59%;
    left: 0%;
    font-size: 11px;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 108px;
    text-align: center;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #twitter002 {
    background: none repeat scroll 0;
    position: absolute;
    top: 59%;
    left: 88%;
    font-size: 11px;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 110px;
    text-align: center;
    height: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #faction001 {
    background: none repeat scroll 0;
    position: absolute;
    top: 72%;
    left: 0%;
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 108px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #faction002 {
    background: none repeat scroll 0;
    position: absolute;
    top: 72%;
    left: 88%;
    text-align: center;
    font-size: 12px;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 108px;
    height: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
        }
        #time001 {
	   position: relative;
	    top : -170px;
            font-size: 200%;
	    font-weight: bold;
            color: black;
        }
        #message002{
	   position: relative;
	    top : -175px;
        }
        #message003{
	   position: relative;
	    top : -160px;
        }
        #message004{
	   position: relative;
	    top : -190px;
        }
        #message006{
	   position: relative;
	    top : -160px;
        }
        #message005 {
	   position: relative;
	    top : -180px;
            text-align: center;
            font-size: 90%;
            color: black;
        }
    #message001 {
            text-align: center;
            font-size: 90%;
            color: white;
	    height: 37.714px;
	    background: none repeat scroll 0;
	    position: absolute;
	    top : 16%;
	    margin: auto;
	    width: 100%; 
        }
   #qu001 {
	   background: none repeat scroll 0;
	    position: absolute;
	    top : 0%;
            text-align: center;
            font-size: 18px;
            color: white;
	    font-weight: bold;
	    margin: auto;
	    width: 100%; 
        }
        #round002 {
	 background: none repeat scroll 0;
   	 position: absolute;
    	 top: 83%;
   	 left: 43%;
   	 font-size: 90%;
   	 color: white;
   	 font-weight: bold;
   	 margin: auto;
   	 width: 125px;
   	 height: 20px;
   	 text-align: center;
  	 align-items: center;
  	 display: flex;
  	 justify-content: center;
        }
	    #round001 {
	   position: absolute;
	    top : 0%;
 	    left: 78%;
            text-align: center;
            font-size: 100%;
            color: white;
	    font-weight: bold;
	    display: inline-block;
        }
        #select{
	   position: relative;
 	    left: 0px;
        }
        #choose{
	   position: relative;
 	    left: 0px;
            background-color: #A135B2;
            color: white;
            width: 150px;
            height: 30px;
            border-radius: 5px;
        }
	input {
  	width: 30%;
  	font-size: 16px;
	}
	    body:fullscreen {
  overflow: scroll !important;
}
body:-ms-fullscreen {
  overflow: scroll !important;
}
body:-webkit-full-screen {
  overflow: scroll !important;
   zoom: 0.4;
}
body:-moz-full-screen {
overflow: scroll !important;
scale: 0.4;
transform-origin: top center;
}
 .goFS{
   display : none;
 }
@media (max-width: 767px) {
 .goFS{
   display: inline-block;
   background-color: #A20714;
   color: white;
   width: 100px;
   height: 30px;
   border-radius: 5px;
 }
}
@media (min-device-width: 768px) and (max-device-width: 1024px){
 #frame001{
-moz-transform: scale(1.2);
-moz-transform-origin: top center;}
}
@media (min-width: 1024px) {
 #frame001{
-moz-transform: scale(1.4);
-moz-transform-origin: top center;}
}
